<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Confirmation</title>
</head>
<body>
    <h1>Dear {{ user.username }},</h1>
    <p>Your order has been confirmed successfully.</p>
    <p>Order ID: {{ order.id }}</p>
    <p>Total Amount: Ksh.{{ order.total_amount }}</p>
    <p>we are contacting you shortly for delivery information.</p>
    <p>Thank you for shopping with us!</p>
</body>
</html>
